<%= render('layouts/navbar.html.erb') %>
<% n=1 %>

<div class="container">

  <table class="table table-condensed">
    <% @links.each do |link| %>
      <tr>
        <td rowspan="2"><%= n %></td>
        <td rowspan="2">

          <% if current_user != nil %>
            <%= form_for @vote do |f| %>
              <%= f.hidden_field :user_id, :value => "#{current_user.id}"%>
              <%= f.hidden_field :link_id, :value => link.id %>
              <%= image_submit_tag "up_button.png", :id => "button-#{link.id}" %>
            <% end %>
          <% else %>
            <a href="/login"><input type="image" name="submit" value="submit" alt="Up button" src="/assets/up_button.png"></input></a>
          <% end %>

        </td>
        <td><a href="<%=link.url%>"><%#=link.page_title%> (<%= link.url %>)</a></td>
      </tr>
      <tr>
        <td><%= link.votes.length %> points by <%= link.user.email %> <%= distance_of_time_in_words(Time.now, link.created_at) %> ago | <%= link.comments.length %> comments</td>
      </tr>
      <% n = n+1 %>
    <% end %>
  </table>

</div>