<%= render('layouts/navbar.html.erb') %>

<div class="container">

  <table class="table table-condensed">
    <% Link.all.each do |link| %>
      <tr>
        <td rowspan="2">Number</td>
        <td rowspan="2">Arrow image</td>
        <td><a href="<%=link.url%>"><%=link.page_title%> (<%= link.url %>)</a></td>
      </tr>
      <tr>
        <td><%= link.sum_vote %> points by <%= link.user.email %> <%= distance_of_time_in_words(Time.now, link.created_at) %> ago | <%= link.comments.length %> comments</td>
      </tr>
    <% end %>
  </table>

</div>
